* {
    margin: 0;
    padding: 0;
}

.nunitoSansRegular {
    font-family: 'Nunito Sans', sans-serif;
}

.nunitoSansBold {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

/** LAYOUT **/

nav {
    position: fixed;
    left: 0;
    right: 0;
    height: 50px;
    box-shadow: 0 8px 10px -3px #EEEFF3;
    z-index: 100;
    background: #FFFFFFFF;
}

nav .logo {
    position: relative;
    top: 15px;
    width: 70px;
}

nav .menu {
    float: right;
    position: relative;
    right: 100px;
    bottom: 57px;
}

nav .menu img {
    width: 25px;
    margin-left: 20px;
}

nav .menu img:last-child {
    width: 30px;
}

.fixed_menu {
    position: fixed;
    left: 0;
    top: 30%;
    -moz-box-shadow:    10px 10px 15px #EEEFF3;
    -webkit-box-shadow: 10px 10px 15px #EEEFF3;
    box-shadow:         10px 10px 15px #EEEFF3;
    z-index: 50;
    background-color: #fff;
}

.fixed_menu ul {
    padding-left: 0;
}

.fixed_menu ul li {
    list-style-type: none;
}

.fixed_menu ul li div {
    background: red;
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 15px;
    display: inline-block;
}

.fixed_menu ul li span {
    display: none;
    position: relative;
    bottom: 28px;
    padding-right: 30px;
}

/** END LAYOUT **/

a {
    color: black !important;
    text-decoration: none !important;
}

.margin0auto {
    display: block;
    margin: 0 auto;
}

.img_map {
    display: block;
    margin: 0 auto;
    width: 40%;
    position: relative;
    top: 100px;
    z-index: 1;
}

.mTop100 {
    position: relative;
    top: 100px;
}


/** SLIDES **/
#slides {
    position: relative;
    top: 100px;
}